<main class="container">
    <h2>Admin Command Center</h2>
    <div class="dashboard-grid">
        <section class="management-section">
            <h3>Pending Creator Applications</h3>
            <div class="listings-management-container">
                <!-- User wanting to be a creator -->
                <div class="manage-item-card">
                    <img src="path/to/matrix_card.jpg" class="m-img">
                    <div class="m-info">
                        <h4>Aiman (F202)</h4>
                        <p>Student ID: 2024999111</p>
                    </div>
                    <div class="m-actions">
                        <button class="btn btn-primary btn-sm">Approve</button>
                        <button class="btn btn-outline-dark btn-sm">Reject</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>